block vars
  - let title = 'Layout'

-
  const viewports = [
    'width=device-width',
    'initial-scale=1',
    'shrink-to-fit=no'
  ].join(',')

doctype html
html.no-js
  head
    title#gd-title=title
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset="utf-8")
    meta(name="viewport" content!=viewports)

    include ../_blocks/styles

    block styles

  body.gd-template
    noscript JavaScript is off. Please enable to view full site.

    block header

    main#main(role="main")
      block container

    block footer

    include ../_blocks/scripts
