.gd-close {
  position: relative;
  width: 16px;
  height: 16px;
  z-index: 11;

  &__btn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 16px;
    cursor: pointer;
    background-color: $primary;

    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 7px;
      background-color: $white;
      width: 2px;
      height: 16px;
    }

    &:before {
      transform: rotate(0);
    }

    &:after {
      transform: rotate(90deg);
    }
  }
}
