.gd-header {
  position: relative;
  overflow: hidden;

  &__wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: $primary;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 100px;

    &__wrapper:after {
      content: '';
      position: absolute;
      border-top: 100px solid $primary;
      border-right: 100vw solid transparent;
      bottom: -100px;
      z-index: 1;
    }
  }


  &__bg {
    @include position(absolute, $top: 20%, $left: 50%);
    transform: translate(-50%, 0);
    margin: 0 auto;
    color: darken($primary, 10%);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 2em;

    &:before,
    &:after {
      content: '';
      background-color: darken($primary, 10%);
      height: 4px;
      width: 100%;
      position: absolute;
      left: 0;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    @include media-breakpoint-up(md) {
      font-size: 4em;
      top: 60%;
      transform: translate(-50%, -50%);
    }
  }

  &__ttl {
    width: 100%;
    height: 55px;
    overflow: hidden;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    @include position(absolute, $right: 0, $bottom: 0, $left: 0);
    padding: 0 $grid-gutter-width;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @include media-breakpoint-up(md) {
      height: calc(100% + 100px);
      overflow: auto;
      font-size: 3em;
      color: $primary;
      top: 0;
      left: auto;
      text-align: right;
      justify-content: flex-end;

      &:after {
        content: attr(data-text);
        width: 100%;
        height: 100%;
        color: $white;
        @include position(absolute, $top: 0, $right: 0, $bottom: 0);
        padding: 0 $grid-gutter-width;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        clip-path: polygon(0 0, 100% 0, 100% 67%, 0 100%);
      }
    }

    @include media-ie-edge {
      text-shadow: 2px 0 0 $white, -2px 0 0 $white, 0 2px 0 $white, 0 -2px 0 $white, 1px 1px $white, -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white;
      &:after {
        display: none;
      }
    }
  }

  &__version,
  &__modified {
    position: absolute;
    font-size: 0.875rem;
    text-transform: none;
  }

  &__version {
    top: 0;
    right: 0;
    transform: translateY(-100%);
  }

  &__modified {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(100%);

    &:before {
      content: attr(data-text);
    }
  }

}
