#j-gd-iframe {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: $gray-100;
  z-index: 0;
}

#j-gd-iframe__wrapper {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.5s ease-out, height 0.5s ease-out;
}

iframe#j-gd-iframe__main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #fff;
}
