.gd-main-list {
  position: relative;

  &__ttl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  &__main {
    list-style: none;
    padding-left: 0;

    > li {
      a {
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 10px 50px 10px 10px;

        span {
          position: absolute;
          top: 50%;
          right: 10px;
          padding: 3px 8px;
          transform: translateY(-50%);
        }
      }
    }
  }
}
