.gd-main-popup {
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    transition-delay: 0.3s;
  }

  &__wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: 11;
    padding: 20px 0;
    background-color: $primary;
    color: $white;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;
    transition-delay: 0.3s;

    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-track {
      background: $gray-100;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background: darken($primary, 10%);
      border-radius: 3px;
    }
  }

  &__group {
    position: relative;
    margin-bottom: 20px;

    .gd-btn {
      position: absolute;
      right: 20px;
      bottom: 5px;
      z-index: 11;
      border: 0;
      background-color: transparent;
      padding: 0;
      color: $white;
    }

    &:before {
      content: 'Copied';
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba($gray-700, 0.5);
      padding: 5px 15px;
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    &.copied {
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__ttl {
    margin-bottom: 5px;
  }

  &__code {
    display: block;
    width: 100%;
    height: 150px;
    resize: none;
    border: 0;
    color: $gray-100;
    background-color: darken($gray-700, 5%);
    padding: 10px 50px 10px 10px;
    font-family: monospace;
    // box-shadow: 0 0 10px 0 darken($primary, 30%) inset;

    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-track {
      background: $gray-100;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background: darken($primary, 10%);
      border-radius: 3px;
    }
  }

  .gd-close {
    position: fixed;
    top: auto;
    left: auto;
    right: 25px;
    bottom: 230px;
    opacity: 0;
    visibility: hidden;
    transition: bottom 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    transition-delay: 0s;

    &__btn {
      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(135deg);
      }
    }
  }

  &.open {
    &:before {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
    }

    .gd-main-popup__wrapper {
      transform: translateY(0);
      transition-delay: 0s;
    }

    .gd-close {
      bottom: 250px;
      visibility: visible;
      opacity: 1;
      transition-delay: 0.3s;
    }
  }
}
