.gd-main-detail {
  // Transparent element to active mousemove JS
  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: transparent;
    z-index: 5;
  }

  // List items
  &__list {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 4;
    background-color: $primary;
    color: $white;
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding-bottom: 50px;

    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-track {
      background: $gray-100;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background: darken($primary, 10%);
      border-radius: 3px;
    }

    .gd-main-list {
      &__ttl {
        background-color: darken($primary, 10%);
        padding: 10px;
      }

      &__main {
        margin: 0;

        > li {
          border-bottom: 1px solid darken($primary, 10%);
          transform: translateX(-100%);
          transition: transform 0.2s ease;

          a {
            color: $white;
            transition: background-color 0.3s ease;

            span {
              background-color: $white;
              color: $primary;
            }

            &[disabled] {
              pointer-events: none;
              opacity: 0.5;
            }

            &:hover,
            &:focus {
              background-color: darken($primary, 5%);
            }
          }

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }

  // Toolbar for setting screen size
  &__toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 250px;
    text-align: center;
    font-size: 0.875rem;
    background-color: $primary;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 5;

    > * {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .gd-close {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(0);
    transition: transform 0.3s ease;

    &__btn {
      bottom: 10px;

      &:before,
      &:after {
        transition: transform 0.3s ease;
      }
    }
  }

  // Open sidebar Menu
  &.open {
    .gd-main-detail__list {
      transform: translateX(0);

      .gd-main-list {
        &__main {
          > li {
            transform: translateX(0);
          }
        }
      }
    }

    .gd-main-detail__toolbar {
      transform: translateX(0);
    }

    .gd-close {
      transform: translateX(250px);

      &__btn {
        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(135deg);
        }
      }
    }
  }

  // Input form for setting screen size
  input.gd-form-control {
    border: 0;
    width: 45px;
    color: $white;
    padding: 0 5px;
    background-color: darken($primary, 10%);

    &::-webkit-input-placeholder { /* Edge */
      color: rgba($white, 0.2);
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: rgba($white, 0.2);
    }

    &::placeholder {
      color: rgba($white, 0.2);
    }

    /* Hide arrow from input number in Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    -moz-appearance: textfield;

    ~ button[type= 'submit'] {
      width: 0;
      height: 0;
      opacity: 0;
      border: 0;
      cursor: default;
    }
  }

  // Button on gd-main-detail
  .gd-btn {
    border: 0;
    background-color: darken($primary, 10%);
    color: $white;

    i {
      font-size: 1rem;
      vertical-align: bottom;
    }

    &:hover,
    &:focus {
      background-color: darken($primary, 20%);
    }
  }
}
