.gd-main-top {
  padding: 30px 0;

  .gd-main-list {
    &__ttl {
      padding-bottom: 5px;
      border-bottom: 1px solid $gray-100;
    }

    &__main {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: stretch;
      margin-left: -$grid-gutter-width / 2;
      margin-right: -$grid-gutter-width / 2;

      > li {
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
        margin-bottom: $grid-gutter-width / 2;
        width: 100%;

        a {
          height: 50px;
          border: 2px solid $gray-700;
          color: $gray-700;
          transition: background-color 0.3s ease;
          overflow: hidden;

          span {
            background-color: $primary;
            color: $white;
          }

          &:hover,
          &:focus {
            background-color: $gray-100;
          }
        }

        @include media-breakpoint-up(sm) {
          width: 50%;
        }

        @include media-breakpoint-up(md) {
          width: 25%;
        }
      }
    }
  }
}
