extends ./$views/_layouts/layout-guideline

block append vars
  - pageLevel = 1

block header
  aside.gd-main-detail.j-gd-menu-sidebar
    .gd-close
      span.gd-close__btn
    .gd-main-detail__list.j-gd-build-list
    .gd-main-detail__toolbar
      form.j-gd-custom-form(action= '')
        label= 'Size (px)'
        input.gd-form-control.j-form-width(type= 'number', name= 'gd-width', placeholder= 'width')
        != ' x '
        input.gd-form-control.j-form-height(type= 'number', name= 'gd-height', placeholder= 'height')
        button(type= 'submit')!= '&nbsp;'
      .gd-btn-group
        button.gd-btn.j-btn-size--s(type= 'button', title= 'Small Width', data-size= '320') S
        button.gd-btn.j-btn-size--m(type= 'button', title= 'Medium Width', data-size= '768') M
        button.gd-btn.j-btn-size--l(type= 'button', title= 'Large Width' data-size= '1024') L
        button.gd-btn.j-btn-size--full(type= 'button', title= 'Full Width') Full
        button.gd-btn.j-btn-html-markup(title= 'Show HTML Code')
          i.material-icons= 'code'
        button.gd-btn(onclick= 'window.location.href = "./sitemap.html";', title= 'Return to Main Page')
          i.material-icons= 'home'

  aside.gd-main-popup.j-gd-main-popup
    .gd-close
      span.gd-close__btn
    .gd-main-popup__wrapper
      .gd-container
        .j-gd-main-popup__target

block container
  div#j-gd-iframe
    #j-gd-iframe__wrapper
