extends ./$views/_layouts/layout-guideline

block append vars
  - title = 'Guideline'

block header
  header#gd-header.gd-header
    .gd-header__wrapper
      h1.gd-header__bg= 'Coding Guideline'
        span.gd-header__version= 'beta v1.0.0'
        span.gd-header__modified(data-text= "Date modified: ")
      h2.gd-header__ttl(data-text="Project Name")!= 'Project Name'

block container
  .gd-container
    .gd-main-top.j-gd-build-list

block footer
  footer#gd-footer.gd-footer
    .gd-container
      span &copy;2020
