@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

$white: #fff !default;

$primary: #dc3545;
$gray-100: #ddd;
$gray-700: #333;

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px
) !default;

$container-max-widths: (
  sm: 720px,
  md: 970px,
  lg: 1140px
) !default;

$grid-gutter-width: 30px !default;
