@mixin make-container() {
  width: 100%;
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
  margin-right: auto;
  margin-left: auto;
}

@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: $container-max-width;
    }
  }
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-ie-edge() {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10+ CSS styles go here */
    @content;
  }

  @supports (-ms-accelerator:true) {
    /* Edge 12+ CSS */
    @content;
  }

  @supports (-ms-ime-align:auto) {
    /* Edge 16+ CSS */
    @content;
  }
}

@mixin position($pos: relative, $top: auto, $right: auto, $bottom: auto, $left: auto) {
  @if $pos {
    position: $pos;

    @if $top != auto {
      top: $top;
    }

    @if $right != auto {
      right: $right;
    }

    @if $bottom != auto {
      bottom: $bottom;
    }

    @if $left != auto {
      left: $left;
    }
  }
}