extends ../_layouts/layout

block append vars
  - title = 'GMap'
  - menuIndex = 1
  - pageLevel = 1
  - useHeader = false
  - useFooter = false

block container
  .container
    +gmap(class= 'j-gd-html-markup', data-gd-html-title= 'HTML Markup for Gmap')
