// build:js-guideline
script(src='./js/guideline.js' defer)
// endbuild

script.
  var userAgent = window.navigator.userAgent,
    isIE = /MSIE|Trident/.test(userAgent);

  if (isIE) {
    var ieLibs = 'https://unpkg.com/date-time-format-timezone@1.0.22/build/browserified/date-time-format-timezone-complete-min.js';

    var script = document.createElement('script');

    script.src = ieLibs;

    document.body.appendChild(script);
  }
